/* use % for layouts. 
validate html and css. 
optimize imgs & code at end & remove css commemts
google fonts is fast
C R A P
:focus
img alt
meta author & description
lazy loading for later imgs
iphone 5 / 320 px minimum - infinity
sr-only
lighthouse audit
Test sites with other people (designer blinders)
you can fluidly chg site width in dev tools
think of every part of the site as a fluid component, not tablet pc etc. 

@media only screen and (min-width: 600px) {

}

*/

:root {
    --red: rgb(213, 67, 44);
    --yellow: rgb(236, 193, 80);
    --blue: rgb(0, 58, 108);
    --blackish: rgb(10, 10, 2);
}


/*body*/


/*typography*/

h1, h2, h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p, li, a,
address,
figcaption {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 1.1rem;
}




/*main content INDEX.HTML*/

/*grid definition*/
.grid {
    display: grid;
    grid-template:
        'item1 item3'
        'item4 item5'
        'item7 item8'
        'item10 item10'
        'item14 item15';
}


/*all grid items*/
div.item {
    width: 50vw;
    padding: .7rem;
    border-left: .5rem solid var(--blackish);
    border-right: .5rem solid var(--blackish);
    border-bottom: .5rem solid var(--blackish);
}

div.item:nth-child(odd) {
    border-left: none;
}
div.item:nth-child(even) {
    border-right: none;
}

@media screen and (min-width: 800px) {
    .grid {
    grid-template: 
    'item1 item2 item3'
    'item4 item5 item5'
    'item6 item7 item8'
    'item9 item10 item10'
    'item13 item14 item15';
    }

    div.item {
    width: 33.33vw;
    padding: .7rem;
    }

    div.item:nth-child(odd) {
    border-left: .5rem solid var(--blackish);
    border-right: .5rem solid var(--blackish);
    border-bottom: .5rem solid var(--blackish);
    }
    div.item:nth-child(even) {
    border-left: .5rem solid var(--blackish);
    border-right: .5rem solid var(--blackish);
    border-bottom: .5rem solid var(--blackish);
    }

    .grid div.b-l {
    border-left: none;
    }

    .grid div.b-t {
        border-top: none;
    }
    .grid div.b-r {
        border-right: none;    
    }
    .grid div.b-b {
        border-bottom: none;    
    }

}


div.b-l {
    border-left: none;
}

div.b-t {
    border-top: none;
}
div.b-r {
    border-right: none;    
}
div.b-b {
    border-bottom: none;    
}
 
.item4,
.item11 {
    background-color: var(--blue);
} 

.item2,
.item10 {
    background-color: var(--red);
} 

.item3,
.item13,
.item14 {
    background-color: var(--yellow);
}

.item6, 
.item9 {
    background-color: var(--blackish);
}


/*footer*/



/* OVERLAP PAGE */
section.poster-grid {
    display: grid;
    grid-template-columns: repeat(12, 8vw);
    grid-template-rows: repeat(12, 5rem);
  }
  @media screen and (min-width: 800px) {
      section.poster-grid {
      grid-template-rows: repeat(12, 9rem);
      }
  }


  .poster-grid h2 {
    grid-column: 2 / 5;
    grid-row: 5 / 6;
    z-index: 4;
    font-size: clamp(1.125rem, 3.7vw, 2.25rem);
  }
  .p-large {
    font-size: clamp(1rem, 3.5vw, 1.8rem); 
    grid-column: 7/12;
    grid-row: 5/7;
    z-index: 3;
  }
  .square {
    background-color: var(--blue);
    grid-column: 2/4;
    grid-row: 1/5;
  }
  .square2 {
    background-color: var(--red);
      grid-column:  3/7;
      grid-row: 4/7;
  }
  .square3 {
    background-color: var(--yellow);
      grid-column: 5/8;
      grid-row: 5 / 9;
      z-index: 2;
  }
  .square4 {
    background-color: var(--red);
      grid-column: 11/13;
      grid-row: 1 / 5;
  }
  .square5 {
    background-color: var(--blue);
      grid-column: 1/10;
      grid-row: 8 / 9;
  }
